


<!DOCTYPE html>
<html>

<head>
    <title> Admin  Login</title>

    <link rel='stylesheet' href='/css/login.css' />

<body>

    <form action="/qrcreate" method="post">
    <table id="Tabel">

        <tr>
            <td>
                <h1>Admin Login </h1>
            </td>

        </tr>

        <tr>
            <td>
                <div>
                    <label for="email"> Email Id</label>
                </div>
                <div>
                    <input type="email" value="rp383364@gmail.com" name="AdminEmail" placeholder="enter email" required>
                </div>
            </td>

        </tr>

        <tr>
            <td>
                <div>
                    <label for="password" >Password</label>
                </div>
                <div>
                    <input type="password"   name="AdminPassword" placeholder="enter Password" required>
                </div>
            </td>

        </tr>


        <tr>
            <td>
                <div>
                    <input type="submit"  value="Login">
                </div>   
            </td>

        </tr>

    </table>

</form>

</body>

</html>