<nav class="nav">
    <div class="nav-upper-options">
        <div class="nav-option option1">
            <a href="qrcreate"><img src="https://cdn-icons-png.flaticon.com/512/2313/2313147.png" class="nav-img"
                    alt="dashboard">
                <h3>Creat QR Code</h3>
            </a>
        </div>

        <div class="option2 nav-option">
            <a href="/qrprint">
                <img src="https://cdn-icons-png.flaticon.com/512/93/93649.png" class="nav-img" alt="articles">
                <h3>Print QR Code </h3>
            </a>
        </div>

        <div class="nav-option option3">
            <a href="/useranalies">
                <img src="https://cdn-icons-png.flaticon.com/512/32/32441.png" class="nav-img" alt="report">
                <h3>User Analies</h3>
            </a>
        </div>

        <div class="nav-option option3">
            <a href="/qrcodeanalies">
                <img src="https://cdn-icons-png.flaticon.com/512/32/32441.png" class="nav-img" alt="report">
                <h3>QR Code Analies</h3>
            </a>
        </div>

        <div class="nav-option option4">
            <a href="/qrreward">
                <img src="https://cdn-icons-png.flaticon.com/512/2666/2666513.png" class="nav-img" alt="institution">
                <h3>Reward</h3>
            </a>
        </div>

        <div class="nav-option option5">
            <a href="/userpayment">
                <img src="https://media.geeksforgeeks.org/wp-content/uploads/20221210183323/10.png" class="nav-img"
                    alt="blog">
                <h3> User Payment</h3>
            </a>
        </div>

        <div class="nav-option option6">
            <img src="https://media.geeksforgeeks.org/wp-content/uploads/20221210183320/4.png" class="nav-img"
                alt="settings">
            <h3>working...</h3>
        </div>

        <div class="nav-option logout">
            <img src="https://media.geeksforgeeks.org/wp-content/uploads/20221210183321/7.png" class="nav-img"
                alt="logout">
            <h3>Logout</h3>
        </div>

    </div>
</nav>