<!DOCTYPE html>
<html>

<head>
    <title>
        Registration
    </title>
    <link rel='stylesheet' href='/css/UpdatePassword.css' />
</head>


<body>
    <form action="" method="post">
        <table id="Tabel">

            <% if (typeof notFindMail !=='undefined' && notFindMail) { %>
            <small> which one mail id password change </small>
            <script> document.getElementById('email').style.border = "1px solid red"  </script>
            <% } else { %>
            <% } %>
                        <tr>
                            <td>
                                <div>
                                    <label for="Password">Password</label>
                                </div>
                                <div>
                                    <input type="password" name="Password" placeholder="enter Password"
                                        required>
                                </div>
                            </td>

                        </tr>

                        <tr>
                            <td>
                                <div>
                                    <label for="CornfirmPassword">Cornfirm Password</label>
                                </div>
                                <div>
                                    <input type="password" name="CornfirmPassword"
                                        placeholder="enter confirm Password" required>
                                    <% if (typeof passNotMatch !=='undefined' && passNotMatch) { %>
                                        <small> Password and Confirm Password do not match </small> 
                                     <% } else { %>
                                     <% } %>
                                </div>
                            </td>

                        </tr>

                        <tr>
                            <td>
                                <div>
                                    <input type="submit" value="Update Password">
                                </div>
                            </td>

                        </tr>

        </table>
    </form>



</body>

</html>